html,
body,
#root,
.App {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #cbcbcb;
  margin: 0;
  overflow: hidden;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
  border-radius: 30px;
  padding: 10vh 10vw;
  /* background: rgba(0, 0, 0, 0.5); */
}

.flex-item {
  text-align: center;
}

img {
  background-color: #0ed0dd;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}

.social {
  text-align: center;
  font-size: 32pt;
}

.social .card {
  width: fit-content;
  margin: 0 auto;
  background-color: #0ed0dd;
  box-shadow: 
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

.social a {
  color: #fff;
  margin: 0 8px;
  text-decoration: none;
}

.social a:visited {
  color: #fff;
  text-decoration: none;
}

.social a:active {
  color: #fff;
  text-decoration: none;
}

.social a:hover {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-size: 40pt;
  font-weight: bold;
}

h1 span {
  color: #d63441;
}

h2 {
  font-size: 25pt;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
